.auth-panel{
  max-width: 500px;
  display: flex;
  width: 100%;
  margin: 20px auto;
  justify-content: space-around;

  &--link{
    text-decoration: none;
    color: white;
    display: block;
    height: 50px;
    width: 200px;
    background-color: #024d02db;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: cursive;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 30px;

    &:hover{
      color: black;
      background-color: white;
      transition: .5s;
    }
  }
}